<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- target object -->
    <bean id="bankServiceAsli" class="com.artivisi.halo.spring.aop.BankService" />
    
    <!-- advice -->
    <bean id="transactionAdvice" class="com.artivisi.halo.spring.aop.TransactionAdvice" />
    <bean id="securityAdvice" class="com.artivisi.halo.spring.aop.SecurityAdvice" />
    <bean id="auditLogAdvice" class="com.artivisi.halo.spring.aop.AuditLogAdvice" />
    
    <!-- proxy -->
    <bean id="bankService" class="org.springframework.aop.framework.ProxyFactoryBean">
    		<property name="target" ref="bankServiceAsli"/>
    		<property name="interceptorNames">
    			<list>
    				<value>transactionAdvice</value>
    				<value>securityAdvice</value>
    				<!-- 
    				<value>auditLogAdvice</value>
    				-->
    			</list>
    		</property>
    </bean>
</beans>